<% if @user_or_post == "1"%>
    <h1>User</h1>
    <table>
        <% @users.each do |user| %>
        <thead>
            <tr>
                <th></th>
                <th><%= user.nickname %> </th>
            </tr>
        </thead>
        <% end %>
    </table>
 
<% elsif @user_or_post == "2" %>
    <h2>Post</h2>
    <table>
    <% @informations.each do |information| %>
        <thead>
            <tr>
                <th></th>
                <th><%= information.title %></th>
            </tr>
        </thead>
    <% end %>
    </table>
<% else %>
<% end %>


