
<div class="main bg-dark">
 <div class="profile d-flex bg-white container" style="border: solid 3px #eaedf2;">
  <div class="profile_image text-align-center" style="padding-right:14px max-width: 80px;">
    <img src="プロフィール画像のURL" alt="" style="max-width: 80px; border-radius: 100%;">
  </div>
  <div class="profile_text ">
    <p class="profile_text_name font-weight-bold" style="margin: 6px 0;"><%= @nickname %></p>
    <p class="profile_text_description ">1996年生まれ。都内のデザイン会社でUIデザイナーとして働いています。当ブログでは、業務の中で得た知見をみなさんとシェアできればと思っています。（例文）</p>
  </div>
 </div>
</div>





<%= render "devise/shared/footer"%>
