<% if model.errors.any? %>
   <div id="error_explanation">
       <ul>
          <% model.errors.full_messages.each do |message| %>
             <li class="text-white"><%= message %></li>
          <% end %>
        </ul>
    </div>
<% end %>
