<div class="font-weight-light text-white text-center bg-dark p-3 border-top border-secondary">
 <div class="d-flex justify-content-end container">
  <p id=scrollTop class="mr-3"><a href=# class="text-white" style="text-decoration:none; display:none;">ページ上部に戻る</a></p>
  <p id=scrollPage class="ml-3"><%= link_to "トップページに戻る", root_path, style:"text-decoration:none; display:none", class:"text-white" %></p>
</div>
  <p>© With Beauty Care</p>
</div>