
<% @informations.each do |information|%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
           <% if information.image? %>
      <td><%= image_tag information.image.url %></td>
           <% else %>
      <td><%= image_tag "noimage.png"%></td>
           <% end %>
           <% if information.image? %>
      <td><%= information.title %></td>
           <% else %>
       <td><P>タイトルがまだありません</td>
           <% end %>
    </tr>
  </tbody>
</table>
<% end %>
