<%= render "devise/shared/header"%>

<div class="main bg-dark">
    <div class="border-bottom border-secondary">
      <%= image_tag "image-03-s.png" ,class:"d-block w-100 container mb-5" %>
    </div>

  <div class="container d-flex mt-5">
    <%= image_tag "image-06.jpg", class:"img-fluid" %>
     <div class="bg-light w-100">
       <h2 class="text-center mt-3 font-weight-bold">週間人気投稿ランキング</h2>
     </div>
  </div>
</div>

  


  
  
  











