
<% @informations.each do |information|%>
<table class="table container">
  <thead>
    <tr>
      <th scope="col">イメージ</th>
      <th scope="col">タイトル</th>
    </tr>
  </thead>
  <tbody>
    <tr>
           <% if information.image? %>
      <td><%= image_tag information.image.url %></td>
           <% else %>
      <td><%= image_tag "noimage.png"%></td>
           <% end %>
           <% if information.image? %>
      <td><p class="text-center m-5"><%= information.title%></p></td>
           <% else %>
       <td><P class="text-center m-5">タイトルがまだありません</p></td>
           <% end %>
    </tr>
  </tbody>
</table>
<% end %>
