<section class="section">
 <div class="container">
  <div class="columns is-centered">
   <div class="column is-7">
    <div class="card">
     <div class="card-image">
      <figure class="image is-4by3">
       <% if @information.image? %>
        <%= image_tag @information.image.url %>
      <% else %>
       <%= image_tag "noimage.png" %>
      <% end %>
      </figure>
     </div>
     <div class="card-content">
      <div class="media">
       <div class="media-content">
        <p class="title is-4"><%= @information.title %></p>
       </div>
      </div>
       <div class="content">
        <table class="table is-narrow">
         <tr>
           <th>対策</th>
         </tr>
         <tr>
           <td><%= @information.sentence %></td>
         </tr>
        </table>
       </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>